$primary-color : #2a2a2a;
$secondary-color: #f3f4f4;
$gray-color: #808080;
$black-color: rgba(0,0,0,0.6);
$available-color: #17991b;
$in-use-color: #c51718;
$booked-color: #cd8a17;
$light-gray-color: #cacaca;
$resource-color: #25d93b;